<div class="news">
    <div class="wrapper">
        <div class="box a">
            <img src="assets/img/fondo/navbar.png" alt="Girl in a jacket">
        </div>
        <div class="box b">
            <div class="textb">
                En Lomas de Jesús Casa Club puedes adquirir un terreno único para construir tu casa soñada.
                <div class="botonb" id="inline">
                    ENCUENTRA TU TERRENO IDEAL <i class="fas fa-greater-than icon"></i>
                </div>
            </div>
        </div>
        <div class="box c">
            <div class="botonc">
                VER PORTAL
                <br> DE NOTICIAS
            </div>
            <img src="assets/img/fondo/ave.jpg" alt="Girl in a jacket">
        </div>
        <div class="box d">
            <div class="botond">
                <div class="textd">
                    ¡HAZTE SOCIO!
                </div>

            </div>
            <img src="assets/img/fondo/ave.jpg" alt="Girl in a jacket">

        </div>
    </div>
</div>