<div class="container">
    <div id="mision">
        MISIÓN
        <p>Por qué es un buen lugar para vivir. Por que es seguro ante cualquier crisis. Por qué es un buen lugar para vivir. Por que es seguro ante cualquier crisis.</p>
    </div>
    <div id="vision">
        VISIÓN
        <p>
            Por qué es un buen lugar para vivir. Por que es seguro ante cualquier crisis. Por qué es un buen lugar para vivir. Por que es seguro ante cualquier crisis. Por qué es un buen lugar para vivir. Por que es seguro ante cualquier crisis.
        </p>
    </div>
</div>