.container-about {
    text-align: center;
    align-items: center;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 10em;
    padding-bottom: 10em;
    /*margin: 0;
    top:50%;
    position: absolute;*/
}

h1 {
    font-size: 45.7px;
    font-family: 'Belleza';
    
}

#vision h1 {
    margin-top: 2em;
}

p {
    
    margin: 0px auto;
    font-size: 24px;
    text-align: left;
}