.navbar-image {
    position: relative;
}

.container-banner {
    position: absolute;
    width: 33%;
    top: 0%;
    right: 0%;
}
.banner-noticias {
    display: block;
    background-color: rgba(0, 0, 61, .48);
    position: absolute;
    text-align: right;
    padding-top: 10em;
    padding-right: 3em;
    padding-left: 4em;
    padding-bottom: 16.5em;
    top: 0%;
    right: 0%;
    z-index: 5;
}

.titulo h1 {
    font-size: 2.5em;
    color: white;
    font-family: 'Amaranth';
}

.subtexto p {
    font-size: 1.3em;
    color: white;
    font-family: 'Amaranth';
}

.subtexto {
    margin-top: 50px;
}

.subsubtexto {
    margin-top: 18em;
    margin-bottom: 14.5em;
}

.subsubtexto h1 {
    font-size: 4em;
    color: white;
    font-family: 'Amaranth';
}


.subsubtexto h2 {
    font-size: 3.2em;
    color: white;
    font-family: 'Amaranth';
}

.subsubtexto p {
    font-size: 1.7em;
    color: white;
    font-family: 'Belleza';
}