<div class="navbar-image">
    <img src="assets/img/fondo/navbar.png" alt="Girl in a jacket" height="600">
    <div class="banner-noticias">
        <div class="titulo">
            <h1>{{titulo1}}</h1>
            <h1>{{titulo2}}</h1>
        </div>
        <div class="subtexto">
            <p>{{texto1}}</p>
            <p>{{texto2}}</p>
            <p>{{texto3}}</p>
        </div>
        <div class="subsubtexto">
            <h1>{{texto4}}</h1>
            <h2>{{texto5}}</h2>
            <p>{{texto6}}</p>
            <p>{{texto7}}</p>
        </div>
    </div>
</div>