<nav role="navigation" class="primary-navigation">
    <div class="imagen">
        <a href="#home">
            <img src="assets/img/imagotipo.png" alt="logo" width="auto" height="80em">
        </a>
    </div>
    <ul>

        <li class="menu"><a href="#news">Noticias</a>
        </li>
        <li class="menu"><a href="#about">Nosotros <!-- &dtrif; --></a>
        </li>
        <li class="menu"><a href="#">Galerías</a>
            <ul class="dropdown">
                <li><a href="#">Sociales</a></li>
                <li><a href="#">Naturaleza</a></li>
                <li><a href="#">Obras</a></li>
            </ul>
        </li>
        <li class="menu"><a href="#">Casa Club</a></li>
        <li class="menu"><a href="#">Contactanos</a></li>
    </ul>
</nav>